#nav-menu {
	text-align: center;
	border-bottom: 1px solid black;
}

#nav-menu li {
	padding-left: 50px;
	padding-right: 50px;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	padding: .5em 0;
	text-align: center;
}

.boxes {
	height: 300px;
	width: 300px;
	border: 10px solid red;
	display:inline-block;
}

